
<div id="bottomBar">
  <div id="contact">
  
    <h3 style="font-size: 30px; margin-top: 15px; margin-bottom: 15px;">Yhteystiedot</h3>
    Toimisto: <a style="color: white;" href="mailto:toimisto@olarfest.fi">toimisto@olarfest.fi</a>
</div>
</div>
