<div class="donors">
  <%
  [
    # ["lahjoittajan nimi", summa],
    # ["toisen lahjoittajan nimi", summa]
  ].each do |name, sum| %>
    <% font_size = 12 + sum / 15
       margin = rand(10...100)
    %>
      <span style="font-size: <%= font_size %>px; margin-right: <%= font_size %>px;"><%= name %></span>
    <% end %>
</div>
