<%

  tilinumero = "joka löytyy tästä pian";
  viitenumero = "ilmestyy tähän pian";

%>


<h2>Lahjoita</h2>
Voit tukea tapahtumaa lahjoittamalla yksityishenkilönä tai yrityksenä haluamasi summan tilille <b><%= tilinumero %></b>.
Yli kymmenen euroa lahjoittaneet saavat nimensä tämän alle (kirjoita nimi tilisiirron viestikenttään).
<!-- Viitteenumeroksi <%= viitenumero %>.  -->
Mikäli haluat yrityksellesi enemmän näkyvyyttä nettisivuilla ja tapahtumassa ota yhteyttä <a href="#contact">toimistoon</a>.
