<%

  tilinumero = "FI12 345678991240";
  viitenumero = "1234567";

%>


<h2>Lahjoita</h2>
Voit tukea tapahtumaa lahjoittamalla yksityishenkilönä tai yrityksenä haluamasi summan tilille <b><%= tilinumero %></b>.
Yli kymmenen euroa lahjoittaneet saavat nimensä nettisivuille (kirjoita nimi tilisiirron viestikenttään).
Viitteenumeroksi <%= viitenumero %>. Mikäli haluat yrityksellesi enemmän näkyvyyttä nettisivuilla ja tapahtumassa ota yhteyttä <a href="#contact">toimistoon</a>.
