<div class="donors">
  <%
  [
    ["Sari Halavaara",20],
    ["Felix Bade",50],
    ["P채ivi Nissinen",500],
    ["Elias Ojala",60],
    ["Mikko M채ntyl채",10],
    ["Maija Flinkmann",50],
    ["Simo Naatula",200],
    ["Tomi Termonen",80],
    ["Aleksi Lankinen",90],
    ["Taneli Akkanen",10],
    ["Kaisa Tikka",15],
    ["JP Lehtonen",20],
    ["Petrina Miettinen",50],
    ["Jerry Aunula",40],
    ["Roni Kirla",30],
    ["Oskari Lepp채",20],
    ["Aleksi Lankinen",10],
    ["Sanna Salminen",10],
    ["Veronika Konnos",23],
    ["Jerry Aunula",55],
    ["Martti Ranta",13],
    ["Roni Kirla",78],
    ["Theo Friberg",55],
    ["Katri Haapalinna",15],
    ["Yan Zhibin",57],
    ["Aamos Valjus",80]
  ].each do |name, sum| %>
    <% font_size = 12 + sum / 15
       margin = rand(10...100)
    %>
      <span style="font-size: <%= font_size %>px; margin-right: <%= font_size %>px;"><%= name %></span>
    <% end %>
</div>
