<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Olarfest</title>
    
    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="/jquery.js"></script>
    <script src="/app.js"></script>
    
    <%= yield_content :includes %>
  </head>
  
  <body>
    <div id="linkbar">
      <%
        [
          ["ETUSIVU", "teaser"],
          ["OLARFEST RY", ""],
          ["TEKIJÖILLE", "rekryTitle"],
          ["YLEISÖLLE", ""]
        ].each do |text, element| %>
        <span><a href="javascript:void(0)" onclick="scrollToElement('#<%= element %>');"><%= text %></a></span>
      <% end %>
      
      <div id="title">
        Olarfest
      </div>
    </div>
    <%= yield %>
  </body>
</html>
