<html>
  <head>
    
    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="/app.js"></script>
    <script src="/jquery.js"></script>
    
    <%= yield_content :includes %>
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  
  <body>
    <div id="linkbar">
      <span>ETUSIVU</span> <span>OLARFEST RY</span>    <span>TEKIJÖILLE</span>     <span>YLEISÖLLE</span>
      <div id="title">
        Olarfest
      </div>
    </div>
    <%= yield %>
  </body>
</html>
