<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <meta name="google-site-verification" content="BWAi7klZVqqk-GW4_pjqAUIw2avIaTuc4NDLnGVwwAE" />

    
    <title>Olarfest</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <link rel="shortcut icon" type="image/png" href="/assets/media/favicon.png">
    
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/google_analytics.js"></script>
    
    <base target="_blank">
    
    <%= yield_content :includes %>
  </head>
  
  <%
    links = [
      ["Etusivu", "siteSubject"],
      ["Yleisölle", "yleiso"],
      ["Tekijäksi", "rekry"],
      # ["Yhdistys", "yhdistys"],
      # ["Lahjoita", "lahjoita"],
      ["Yhteystiedot", "contact"]
    ];
  %>
  
  <body>
    <div id="linkbar">
      <div id="linkBarLinks">
        <% links.each do |text, element| %>
          <a href="#<%= element %>" class="close-menubox"><%= text %></a>
        <% end %>
      </div>
      <span id="menuBoxIcon">
        <a href class="toggle-menubox material-icons"></a>
      </span>
      
      <div id="title">
        <a href="#teaser"><img src="/assets/media/olarfest_logo.png"></a>
      </div>
    </div>
    
    <%= yield %>
  </body>
</html>
