<div id="yhdistys" class="contentElement">
<h2>Yhdistys</h2>
Olarfest on yhdistys, jonka tehtävänä on edistää tapahtuman järjestämistä.
Yhdistyksen puheenjohtaja on <a href="http://samporapeli.fi/">Sampo Rapeli</a>
ja hallitukseen kuuluvat lisäksi Elias Ojala ja Aapo Penttinen.
</div>
