<h2>Olarfest ry</h2>
Olarfest ry on yhdistys, jonka tehtävänä on edistää tapahtuman järjestämistä. Yhdistyksen puheenjohtaja on <a target="_blank" href="http://samporapeli.fi/">Sampo Rapeli</a> ja hallitukseen kuuluvat lisäksi Elias Ojala ja Aapo Penttinen.
