<div id="popupBackground" class="close-popup"></div>
<div id="popup">
  <div class="title">
    <h2 id="popup-title"></h2>
    <a class="close-popup material-icons" href>close</a>
  </div>
  <div id="popupContent"></div>
</div>
