<div id="popupBackground" class="close-popup"></div>
<div id="popup">
  <h3 class="title">
    <span id="popup-title"></span>
    <a class="close-popup material-icons" href>close</a>
  </h3>
  <div id="popupContent"></div>
</div>
