<% content_for :includes do %>
  <link rel="stylesheet" type="text/css" href="/index.css">
  <script src="/index.js"></script>
<% end %>

<div class="black">
  <div id="teaser">
    <div class="playButton">
      <div class="circle"></div>
      <div class="arrow"></div>
    </div>
    <video width="100%" id="teaserVideo" autoplay="true">
      <!-- <source src="teaser.mp4" type="video/mp4"> -->
        <!-- <img id="teaserImage" src="teaser.jpg"> -->
    </video>
  </div>
</div>

<div id="siteSubject">
  Olarfest 2017 - Tule mukaan!
</div>

<div id="description">
  OlarFest 2017 kerää Espoolaiset marraskuussa 2017 bilettämään Suomen kovimpien artistien tahdittamana. Tapahtuma on suunnattu 15-22 vuotiaille nuorille ja se järjestetään Olarin koulun ja lukion salissa. Yleisöön mahtuu 1000 ensimmäistä lipunostajaa.
  <br><br>
  Jos olet kiinnostunut tapahtumien järjestämisestä tai jostain mitä alta löytyy niin ota yhteyttä ja ole yksi syksyn parhaimman tapahtuman järjestäjistä! Alta näet erilaisia asioita mitä projektissa voi tehdä. Kaikilla alueilla tarvitaan sekä vastuuhenkilöä, että tekijöitä.
  <div id="rekryTitle">
    Näihin tarvitaan tekijöitä
  </div>
  <div id="rekryIcons">
    <%
      [
        ["Markkinointi", "markkinointi.png", "mainostusta"],
        ["Rahoitus", "budjetointi.png", ""],
        ["Rekrytointi", "rekrytointi.png", ""],
        ["Turvallisuus", "turvallisuus.png", ""],
        ["Luvat ja muut paperityöt", "paperwork.png", ""],
        ["Catering", "catering.png", ""],
        ["Kuvaus", "kuvaus.png", ""],
        ["Riggaus", "riggaus.png", ""],
      ].each do |name, address, description| %>
      <span class="block"><img src="<%= "rekry_icons/#{address}" %>"><h3><%= name %></h3><h5><%= description %></h5></span>
    <% end %>
  </div>
</div>
