<div style="height:10%;"></div>
<span id="sponsorit">
<%
  [
    # "sponsorifirman kuvan osoite",
    # "toisen sponsorifirman kuvan osoite"
  ].each do |src|
%>
    
    <img src="<%= src %>">
    
    <% end %>
</span>
