<div class="black">
  <div id="teaser">
    <div class="playButton">
      <div class="circle"></div>
      <div class="arrow"></div>
    </div>
    <video width="100%" id="teaserVideo" autoplay="true" playsinline>
    </video>
  </div>
  <div id="teaserImage"></div>
</div>
