<div class="black">
  <div id="teaser">
    <div class="playButton">
      <div class="circle"></div>
      <div class="arrow"></div>
    </div>
    <video width="100%" id="teaserVideo" autoplay="true" playsinline>
      <!-- <source src="teaser.mp4" type="video/mp4"> -->
        <!-- <img id="teaserImage" src="teaser.jpg"> -->
    </video>
  </div>
</div>
