<h2>Catering</h2>

Cateringtiimi vastaa tapahtuman tarjoiluista, eli juomista ja tarjoiltavista syötävistä. Kaikki tarjoiltava on oltava ikärajatonta, eli ei alkoholia tai vastaavaa. Cateringvastaava on vastuussa tapahtuman cateringissa ja cateringtiimin muut jäsenet auttavat cateringvastaavaa.
