<h2>Kuvaus</h2>

Kuvaustiimi työskentelee markkinoinnin alla ja vastaa tapahtuman video- ja valokuvaamisesta. Kuvausjohtaja koordinoi kuvaustiimiä ja vastaa kuvauksen toteutuksesta itse tapahtumassa, mutta myös etukäteen markkinointitarkoituksia varten.
