<h2>Markkinointi</h2>
Markkinointi ja viestintä on tapahtuman onnistumisen kannalta yksi tärkeimmistä osa-alueista ja tiimissä tarvitaan monenlaista osaamista. Markkinointijohtajalla on selvä visio markkinointiprosessista, joka kestää vielä pitkään tapahtuman jälkeenkin. Hän ohjaa tiimiään, joka tuottaa laadukasta mainosmateriaalia tapahtumalle ja saattaa sen yleisön tietoon.

Markkinoinnin alle kuuluu muun muassa
<ul>
    <li>graafinen suunnittelu</li>
    <li>videoiden ja kuvien toteutus</li>
    <li>some julkaisut teksteineen ja kuvineen/videoineen</li>
    <li>nettisivut</li>
</ul>
