<h2>Markkinointi</h2>

Markkinointi on tapahtuman onnistumisen kannalta yksi tärkeimmistä osa-alueista. Markkinoinnin tiimissä tarvitaan monenlaista osaamista. Markkinointivastaavalla olisi hyvä olla selvä visio kokonaisuudesta, miten ja missä markkinoidaan. Pyritään pitämään markkinoinnin hinta hyvin alhaisena, mutta silti markkinointi tehokkaana.
<br><br>

Markkinoinnin alle kuuluu muun muassa
<ul>
<li>graafinen suunnittelu</li>
<li>videoiden ja kuvien toteutus</li>
<li>some julkaisut teksteineen ja kuvineen/videoineen</li>
<li>nettisivut</li>
</ul>
