<h2>Rahoitus</h2>

Rahoitustiimin tehtäviin kuuluu rahoituksen suunnittelu. Mistä rahaa saadaan ja mihin rahaa menee. Rahoitustiimissä olisi hyvä olla rahoitusvastaava, sekä muutama muu tiimin jäsen, jotka yhteistyössä suunnittelevat rahoituksen. Riskejä ei voi ottaa kovin suuria, joten pääsyliput täytyy olla myyty ennen kuin artistien kanssa tehdään sopimukset. Tärkeää on myös muiden osa-alueiden kanssa kommunikointi.
