<h2>Rekrytointi</h2>

Rekrytoinnin tavoite on saada huipputekijät mukaan Olarfestiin. Rekrytointivastaava suunnittelee, millaisia ihmisiä tarvitaan ja miten tehtäviin löydetään parhaat mahdolliset tekijät. Tarvittaessa vastaava voi hankkia itselleen apukäsiä.
