<h2>Rekrytointi</h2>

Rekrytointi on etenkin alkuvaiheessa tärkeää tapahtuman tekijöiden hankkimisen kannalta. Rekrytointivastaavan tulisi suunnitella millaisia ihmisiä tarvitaan ja miten saadaan ne mukaan tiimiimme.
