<h2>Tekniikka</h2>

Tekniikkatiimiin tarvitaan osaamista monelta osa-alueelta. Tekniikkavastaava vastaa koko tapahtuman teknisestä toteutuksesta, lukuunottamatta kuvausta.
<br><br>
Tekniikkatiimiin tarvitaan osaamista seuraavilta alueilta
<ul>
<li>riggaus</li>
<li>sähkö</li>
<li>valot, screenit, efektit</li>
<li>äänet</li>
<li>roudaus</li>
</ul>
