<h2>Turvallisuus</h2>

Turvallisuuden tehtäviin kuuluu huolehtia tapahtuman yleisestä turvallisuudesta, kuten ensiavusta, paloturvallisuudesta ja järjestyksenvalvonnasta. Turvallisuusjohtaja selvittää tiiminsä kanssa, mitä kaikkea tapahtumaan tarvitaan, jotta se olisi tekijöille, yleisölle ja artisteille turvallinen. Tehtäviin kuuluu myös tarvittavien ammattilaisten hankkiminen paikalle ja turvallisuussuunnitelman laatiminen viranomaisille.
