<h2>Turvallisuus</h2>

Turvallisuustiimin tehtäviin kuuluu huolehtia tapahtuman turvallisuudesta. Turvallisuusvastaava hoitaa paikalle ensiapuhenkilökunnan ja järjestyksenvalvojat, sekä mahdolliset muut turvallisuuden kannalta tarpeelliset henkilöt. Turvallisuustiimiin voi kuulua mielellään muitakin kuin turvallisuusvastaava. Itse tapahtumassa EA ja JV on hoidettu ammattilaisten voimin, mutta niiden hankkiminen sujuu parhaiten muutaman hengen tiimillä.
