@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url(texture.jpg);
  overflow-x: hidden;
}

#linkbar {
  background-color: rgba(26, 66, 119, 0.2);
  text-align: right;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: white;
  float: right;
  position: fixed;
  overflow-x: hidden;
  z-index: 2;
}

#linkbar span {
  margin-right: 40px;
  z-index: 2;
}

#linkbar a:link {
    text-decoration: none;
    color: white;
}


#title {
  top: 0px;
  position: absolute;
  font-size: 40px;
  width: 100%;
  text-align: left;
  margin-left: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(250, 250, 250);
  z-index: -1;
}


@media screen and (max-width: 24cm) {
  #title {
    visibility: hidden;
  }
  #linkbar span {
    margin-right: 8px;
  }
  #linkbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
