@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.black {
  background-color: black;
}

#teaser {
/* background-image: url(teaser.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%; */
}

#teaserImage {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#linkbar {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: white;
  float: right;
  position: fixed;
  overflow-x: hidden;
}

span {
  margin-right: 40px;
}

#title {
  top: 0px;
  position: absolute;
  font-size: 40px;
  width: 100%;
  text-align: left;
  margin-left: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(250, 250, 250);
}

/* google fonts: keyboard_arrow_down */

#siteSubject {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

#description {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  height: 100%;
  margin-top: 0px;
  padding: 50px;
}
