.black {
  background-color: black;
}

#teaser {
/* background-image: url(teaser.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%; */
}

#teaserImage {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#teaserVideo {
  width: 100%;
  
}

.playButton .circle {
  border-radius: 80px;
  height: 70px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -22px;
  top: -14px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: calc(50% - 13px);
}
  
.playButton .arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left:35px solid rgba(255, 255, 255, 0.8);
  
  position: absolute;
  
  top: 0.5px;
}


#whiteBar {
  width:100%;
  height: 50px;
  color: rgb(250, 250, 250);
}

/* google fonts: keyboard_arrow_down */

#siteSubject {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

#description {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  min-height: 100%;
  margin-top: 0px;
  padding: 50px;
}

#yhdistys {
  width: 100%;
  font-size: 20px;
}

#yleiso {
  width: 100%;
  font-size: 20px;
}


#blankEnd {
  width: 100%;
  height: 100%;
}



#rekryTitle {
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 50px;
//  font-weight: bold;
  text-align: left;
  color: rgb(50, 50, 50);
}

h2 {
  font-size: 50px;
  font-weight: normal;
}



#someIcons {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#someIcons .block {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  margin: 0 20px;
}

#someIcons .block img {
  width: 100%;
  margin-bottom: 0px;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}



#rekryIcons {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#rekryIcons .block {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 0 20px;
}

#rekryIcons .block img {
  width: 200px;
  margin-bottom: 0px;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#rekryIcons h3 {
  color: rgb(60, 60, 60);
  font-size: 25px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
  color: rgba(26, 66, 119, 1);
  margin-top: 18px;
}

#rekryIcons a {
  text-decoration: none;
  color: inherit;
}

#rekryIcons h5 {
  margin: 0px;
  margin-top: 4px;
  min-height: 1em;
  margin-bottom: 45px;
}


#popup {
  position: fixed;
  width: 50%;
  height: 50%;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  margin: auto;

  
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  border: 3px solid rgb(150, 150, 150);
  padding: 10px;
  display: none;
}

#popup .title .close-popup {
  float: right;
  padding: 17px;
}

#popup .title h2 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

#popupContent {
  height: calc(100% - 50px - 9px);
  overflow-y: scroll;
}

#popup .close {
  layout: inline-block;
  float: right;
  margin-right: 4px;
}

#popup .close a:link {
  text-decoration: none;
}

#popup h2, #popup .close {
  margin-top: 0;
}


#popupBackground {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  display: none;
}

#bottomBar {
  float: bottom;
  background: rgba(5, 23, 60, 1);
  color:white;
  padding-bottom: 20px;
  padding-top: 1px;
}

#contact {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.donors span {
  font-family: Ubuntu;
  display: inline-block;
  vertical-align: middle;
  color :rgb(50, 50, 50);
}

#sponsorit img {
  width: 30%;
  margin-bottom: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 24cm) {
  #description {
    width: calc(100% - 2 * 20px);
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
  }
  #siteSubject {
    width: calc(100% - 2 * 20px);
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
  }
  #rekryTitle {
    font-size: 30px;
    margin-top: 30px;
  }
  
  #someIcons {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  #someIcons .block {
    width: 17%;
    margin: 3%;
  }
  #someIcons .block img {
    width: 100%;
  }
  
  
  #rekryIcons {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  #rekryIcons .block {
    width: 110px;
    margin: 15px;
  }
  #rekryIcons .block img {
    width: 90px;
  }
  #rekryIcons h3 {
    font-size: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
  }

  #rekryIcons h5 {
    margin-top: 4px;
    min-height: 1em;
    margin-bottom: 25px;
  }
  
  h2 {
    font-size: 40px;
    font-weight: normal;
  }

  
  #popup {
    width: 90%;
    height: 60%;

    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    border: 2px solid rgb(150, 150, 150);
    padding: 10px;
    font-size: 15px;
    
    display: none;
  }
  
  #popupContent {
    height: calc(100% - 40px - 5px);
  }
  
  #contact {
    width: calc(100% - 2 * 20px);
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
  }
}
