<div id="siteDescription">
Suomen kovimmat artistit ottavat lavan haltuun marraskuussa 2017,
kun yli 15-vuotiaat pääkaupunkiseutulaiset kokoontuvat Espooseen bilettämään.
Varmista paikkasi näissä bileissä pysymällä kuulolla, sillä lippuja on rajoitetusti!
</div>
