<div id="siteDescription">
Suomen kovimmat artistit ottavat lavan haltuun marraskuussa 2017,
kun yli 15-vuotiaat pääkaupunkiseutulaiset kokoontuvat Espooseen bilettämään.
Varmista paikkasi näissä bileissä pysymällä kuulolla, sillä lippuja on rajoitetusti!
<br>
<br>
Nyt on myös oiva tilaisuus päästä osaksi Olarfestin mahtavaa tekijätiimiä! Monenlaisia paikkoja on auki sekä tekijä- että johtajatasolla.
Lue tästä lisää <a href="#rekry">alempaa</a> ja kerro myös kavereillesi.
</div>
