.black {
  background-color: black;
}

#teaserImage {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}


.playButton .circle {
  border-radius: 80px;
  height: 70px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -22px;
  top: -14px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: calc(50% - 13px);
}
  
.playButton .arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left:35px solid rgba(255, 255, 255, 0.8);
  
  position: absolute;
  
  top: 0.5px;
}


#siteSubject {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

h2 {
  font-size: 50px;
  font-weight: normal;
}

.contentElement {
  margin-top: 50px;
  width: 100%;
}

.contentElement h2 {
  margin-top: 28px;
  margin-bottom: 23px;
  margin-left: -2px;
  color: rgb(50, 50, 50);
}

#siteContent {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  min-height: 100%;
  margin-top: 0px;
  padding: 50px;
  padding-top: 30px;
}

#siteDescription {
  margin-bottom: 2em;
}


#yleiso a {
  color: inherit;
}


#someIcons {
  text-align: center;
  margin: 50px auto;
}

#someIcons .block {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  margin: 0 20px;
}

#someIcons .block img, #rekryIcons .block img {
  width: 100%;
  margin-bottom: 0px;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#someIcons .block img {
  width: 100%;
}

#rekryIcons .block img {
  width: 200px;
}


#rekryIcons {
  text-align: center;
  margin-top: -20px;
}

#rekryIcons .block {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin-top: 40px;
}



#rekryIcons .bg, #someIcons .bg {
  background: rgba(150, 66, 119, 1);
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid rgb(177, 78, 141);
}


#someIcons .bg {
  width: 100%;
  height: auto;
}

#rekryIcons h3 {
  font-size: 25px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
  color: rgba(150, 66, 119, 1);
  margin-top: 17px;
  letter-spacing: 1.3px;
}

#rekryIcons a {
  text-decoration: none;
  color: inherit;
}

#popup {
  position: fixed;
  width: 50%;
  height: 50%;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  margin: auto;
  
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  border: 3px solid rgb(150, 150, 150);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#popup:not(.open) {
  display: none;
}

#popup .title .close-popup {
  float: right;
  color: rgb(74, 74, 74);
}

#popup .title {
  line-height: 1em;
  padding: 0.4em 0.4em 0.4em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px solid gray;
}

#popupContent {
  overflow-y: scroll;
  flex-grow: 1;
}

#popupBackground {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#popupBackground:not(.open) {
  display: none;
}

#bottomBar {
  float: bottom;
  background: rgba(5, 23, 60, 1);
  color:white;
  padding-bottom: 20px;
  padding-top: 1px;
}

#contact {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.donors span {
  font-family: 'Ubuntu';
  display: inline-block;
  vertical-align: middle;
  color :rgb(50, 50, 50);
}

#sponsorit img {
  width: 30%;
  margin-bottom: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 24cm) {
  
  #siteContent {
    font-size: 19px;
  }
  
  #siteContent, #siteSubject, #contact {
    width: calc(100% - 2 * 20px);
    padding: 20px;
  }
  
  #siteContent, #contact {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  #siteContent {
    padding: 20px;
  }
  
  #siteSubject {
    font-size: 40px;
    margin-top: 20px;
  }


  #someIcons .block {
    width: 17%;
    margin: 3%;
  }
  #someIcons .block .bg, #someIcons .block img {
    width: 100%;
    height: auto;
  }
  
  #rekryIcons, #someIcons {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  #rekryIcons {
    margin-top: -5px;
  }
  #rekryIcons .block {
    width: 110px;
    margin: 10px;
    margin-top: 20px;
  }
  #rekryIcons .block img {
    width: 90px;
    height: 90px;
  }
  #rekryIcons h3 {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 0.3px;
  }

  
  h2 {
    font-size: 40px;
  }

  
  #popup {
    width: 90%;
    height: 60%;

    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    border: 2px solid rgb(150, 150, 150);
    padding: 10px;
    font-size: 15px;
  }
  
  #popup .title {
    font-size: 24px;
  }
  
  #popupContent {
    height: calc(100% - 40px - 5px - 6px);
  }

  .contentElement {
    margin-top: 50px;
  }

  .contentElement h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
  }
  
}
